@model List<Planner.Models.User>

<h1>Admin Dashboard</h1>

<form asp-controller="Auth" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Log Out</button>
</form>

@if(Model != null)
{
    <ul>
    
    @foreach (var user in Model)
    {
        <li>@user.Name (@user.Email) - @user.Role</li>
    }
    </ul>
}
@if (Context.Request.Cookies["user_role"] == "Admin")
{
    <a asp-controller="AdminTask" asp-action="Index" class="btn btn-primary">Go to Admin Dashboard</a>
}