@model List<Planner.Models.TaskItem>

@if (Model != null)
{
    <form asp-controller="Auth" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>

    <h1>Your To-Do List</h1>

    <ul>
        @foreach (var task in Model)
        {
            <li>@task.Title - @(task.IsCompleted ? "Completed" : "Pending")</li>
        }
    </ul>
   
     
     
       

   
    @if (Context.Request.Cookies["user_role"] == "Admin")
    {
        <a asp-controller="AdminTask" asp-action="Index" class="btn btn-primary">Go to Admin Dashboard</a>
    }

}