<form asp-action="Login" method="post">
    <input name="email" type="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required />
    <label>
        <input name="rememberMe" type="checkbox" />
        Remember Me
    </label>
    <button type="submit">Login</button>
</form>